@tailwind base;
@tailwind components;
@tailwind utilities;

interface Window {
  rdstationforms: any;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-main: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicando a fonte globalmente */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
